<ion-view view-title="Bubblmee">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/orderDetails" collection-repeat="order in orders.orders | filter:4745269688 | orderBy:'timestamp':true">
                <!--<img ng-src="cover.jpg" alt="" />-->
                <div class="count-img text-center">
                    {{order.products.length}}
                </div>
                <h2><span ng-repeat="product in order.products">{{product.name}}<span ng-if="$index+1 != order.products.length">, </span></span></h2>
                <!--<h2><span>{{order.products[0].name}}</span></h2>-->
                <p>{{order.total}} NOK</p>
                <p>{{order.timestampModel}}</p>
            </a>
            <!--<a class="item item-thumbnail-left" href="#">
                    <img ng-src="cover.jpg" alt="" />
                    <div class="count-img text-center">
                        3
                    </div>
                    <h2>Banana, blablabla, xxxxxxx</h2>
                    <p>100 NOK</p>
                    <p>22 July</p>
                </a>-->
            <!--<a class="item item-thumbnail-left" href="#">
                    <img ng-src="" alt="" />
                    <h2>Banana</h2>
                    <p>80 NOK</p>
                    <p>23 July</p>
                </a>-->
        </div>
        <ion-spinner icon="spiral" class="block-center loading" ng-show="orders.length == 0"></ion-spinner>
    </ion-content>
</ion-view>
