<ion-view view-title="Order Details">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" collection-repeat="product in openProducts">
                <img ng-src="{{product.imageUrl}}" alt="" />
                <h2>{{product.name}}</h2>
                <p>{{product.price}} NOK</p>
            </a>
        </div>
        <!--<ion-spinner icon="spiral" class="block-center loading" ng-show="orders.length == 0"></ion-spinner>-->
    </ion-content>
</ion-view>
