<ion-view>
    <ion-content class="login-view">
        <div class="text-center top30 bottom20">
            <img ng-src="img/logo.png" width="300" alt="logo" />
        </div>
        <h4 class="text-center">Log In</h4>
        <p class="padding text-center">You'll receive an SMS to verify your identity, but we'll never spam. Carrier changes may apply.</p>
        <!--<ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>-->
        <form>
            <div class="list">
                <intl-tel ng-model="customerData.phone"></intl-tel>
                <!--<input type="tel" international-phone-number default-country="ru" ng-model="customerData.phone">-->
                {{customerData.phone}}
                <!--for focus directive and factory
                    <div class="btn btn-primary" event-focus="click" event-focus-id="phone">Declarative Focus</div>
                    <div class="btn btn-primary" ng-click="focus('phone');">Imperative Focus</div>-->
                <p class="text-center">Enter your phone number</p>
                <label class="item item-input">
                    <span class="phone-code-text">+{{customerData.phoneCode}}</span>
                    <input class="phone-code" type="hidden" ng-model="customerData.phoneCode" ng-disabled="codeIsSend" >
                    <input id="phone" type="tel" ng-model="customerData.phone" placeholder="1234567890" ng-disabled="codeIsSend">
                </label>
                <label class="item item-input" ng-show="codeIsSend">
                    <input id="smsCode" type="tel" ng-model="customerData.code" placeholder="Enter code">
                </label>
                <p class="assertive padding">{{error}}</p>
                <button class="button button-block button-positive" type="submit" ng-disabled="loading" ng-click="getPhoneCode()">{{codeIsSend ? 'Login' : 'Get SMS Code'}}</button>
                <div ng-show="codeIsSend">
                    <button class="button button-clear button-positive" ng-click="editPhone()">
                        Wrong phone? Re-enter
                    </button>
                    <p class="padding top10" ng-show="reSentCode">
                        <i class="icon ion-alert-circled energized"></i>
                        You still haven't entered the code.
                        <a class="positive" ng-click="SentCode()">
                            Re-send it
                        </a>
                    </p>
                </div>
                <ion-spinner icon="spiral" class="block-center loading" ng-show="loading"></ion-spinner>
            </div>
        </form>        
    </ion-content>
</ion-view
